################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShoppingGo/bin
/ShoppingGo.Tests/bin/Debug
