@model IEnumerable<ShoppingGo.Models.Product>

@{
    ViewBag.Title = "Shopping Go";
}
<h1>ShoppingGo...</h1>
<p class="lead">Shop online... Anytime... Anywhere..</p>


<ul class="list-group">
    @foreach (var product in Model)
    {
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="product">
            <div class="name">@product.Name</div>
            <div class="product-details">
                <div class="price">
                    @product.Price
                </div>
                <div class="tax">
                    @product.Category.Tax
                </div>
            </div>
            @Html.ActionLink("Add to Basket", "AddToCart", "Cart", new { productId = product.ProductId }, new { @class = "badge badge-primary badge-pill" })
        </div>        
    </li>
    }
</ul>


